@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Play', sans-serif;

}

 